In [47]:
f = open("US_births_1994-2003_CDC_NCHS.csv", "r")
data = f.read()
row = data.split('\n')
row[:9]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653']

In [48]:
def read_csv(file_name):
    f = open(file_name)
    data = f.read()
    string_list = data.split('\n')
    string_list = string_list[1:len(string_list)]
    
    final_list = []
    for row in string_list:
        string_fields = row.split(',')
        
        int_fields = []
        for item in string_fields:
            int_row = int(item)
            int_fields.append(int_row)
            final_list.append(int_fields)
            
    return final_list

In [49]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[:9]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 2, 7, 7772]]

In [50]:
def month_births(list_of_lists):
    
    births_per_month = {}
    for item in list_of_lists:
        month = item[1]
        births = item[4]
        if month not in births_per_month:
            births_per_month[month] = births
        else:
            births_per_month[month] += births  

    return births_per_month   

cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 16162585,
 2: 15090700,
 3: 16610345,
 4: 15926570,
 5: 16754535,
 6: 16482650,
 7: 17493915,
 8: 17629290,
 9: 17198490,
 10: 16894070,
 11: 15858235,
 12: 16509300}

In [51]:
def dow_births(list_of_lists):
    day_of_week = {}
    for item in list_of_lists:
        week_day = item[3]
        births = item[4]
        if week_day not in day_of_week:
            day_of_week[week_day] = births
        else:
            day_of_week[week_day] = births
    return day_of_week        
            
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 12823, 2: 14438, 3: 12374, 4: 6628, 5: 10218, 6: 8646, 7: 7645}

In [52]:
def calc_counts(data, column):
    summary = {}
    for item in data:
        column_choice = item[column]
        births = item[4]
        if column_choice not in summary:
            summary[column_choice] = births
        else:
            summary[column_choice] += births
            
    return summary

In [53]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_year_births

{1994: 19763835,
 1995: 19497945,
 1996: 19457470,
 1997: 19404470,
 1998: 19707765,
 1999: 19797085,
 2000: 20294070,
 2001: 20129665,
 2002: 20108630,
 2003: 20449750}

In [55]:
cdc_month_births = calc_counts(cdc_list, 1)
cdc_month_births

{1: 16162585,
 2: 15090700,
 3: 16610345,
 4: 15926570,
 5: 16754535,
 6: 16482650,
 7: 17493915,
 8: 17629290,
 9: 17198490,
 10: 16894070,
 11: 15858235,
 12: 16509300}

In [56]:
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dom_births

{1: 6382785,
 2: 6443695,
 3: 6522495,
 4: 6440770,
 5: 6499765,
 6: 6522370,
 7: 6552295,
 8: 6561485,
 9: 6516460,
 10: 6603820,
 11: 6571805,
 12: 6592185,
 13: 6388420,
 14: 6600765,
 15: 6595855,
 16: 6575960,
 17: 6624765,
 18: 6634275,
 19: 6593635,
 20: 6624105,
 21: 6614485,
 22: 6586905,
 23: 6466450,
 24: 6440415,
 25: 6360580,
 26: 6423980,
 27: 6471975,
 28: 6538425,
 29: 6115805,
 30: 6010475,
 31: 3733480}

In [58]:
cdc_dow_births = calc_counts(cdc_list, 3)
cdc_dow_births

{1: 28945830,
 2: 32230980,
 3: 31614275,
 4: 31442145,
 5: 31168285,
 6: 22810555,
 7: 20398615}